name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Frontend Docker Image
      run: docker build frontend/. --file Dockerfile --tag youdiary-client:$(date +%s)
    - name: Build the Backend Docker Image
      run: docker build backend/. --file Dockerfile --tag youdiary-backend:$(date +%s)
